# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
.env
.env.*

# =====================
# SQLite / Databases
# =====================
*.db
*.sqlite
*.sqlite3
*.db-journal

# =====================
# FastAPI / Backend uploads
# =====================
backend/uploads/
uploads/

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# VS Code / IDE
# =====================
.vscode/
.idea/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db